@model CustomerLinkViewModel
@{
    ViewData["Title"] = "Link";
}

<form asp-action="link" asp-controller="customer">
    <h2>Link Customer to Shops</h2>

    <select asp-for="customer_id" asp-items="@Model.customer_list">
        <option>Select a customer</option>
    </select>

    <div class="container">
        @for (int i = 0; i < Model.shop_info_list.Count(); i++)
        {
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">

                        <input asp-for="shop_info_list[i].isPicked">
                    </div>
                </div>
            <input asp-for="shop_info_list[i].shop_id" readonly>
            <input asp-for="shop_info_list[i].shop_name" readonly>
            </div>
        }
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

